<%- include('../partials/head') %>
<body class="details-page">
<%- include('../partials/header') %>

<main>
  <header class="page-title-header">
    <h1>Chá de Panela</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Detalhes</h2>
  </header>
  <hr />
  <section class="location">
    <h1>Local</h1>
    <div class="picture-with-caption">
      <img src="/aabb.jpg" alt="Foto da AABB">
      <p>Karaokê da AABB</p>
    </div>
    <div class="sub-section">
      <p>Local: <strong>Karaokê da AABB</strong></p>
      <br />
      <p>Endereço:</p>
      <p>Rua Professor Izaltino Gonçalves Guimarães, 526 - St. Epaminondas I</p>
      <p>Jataí - GO, 75805-160</p>
      <br />
      <p>Maps:</p>
      <div class="square-container">
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3fpfqvJsYpMR4Hq7nbNLs24&key=AIzaSyCg6tNPlqtt_V5OGwGkEgAl9nJzU1cGAfM"></iframe>
      </div>
    </div>
  </section>
  <hr />
  <section class="time">
    <h1>Data e Horário</h1>
    <p>Data: <strong>29 de Setembro de 2023</strong>, sexta-feira</p>
    <p>Horário: <strong>17:00</strong></p>
    <p>Por favor, seja pontual :)</p>
  </section>
  <hr />
  <section class="dress-code">
    <h1>Dress Code</h1>
    <p>O evento será 100% casual - vista o que se sentir confortável!</p>
  </section>
  <hr />
  <section class="menu">
    <h1>Cardápio</h1>
    <p>Comida: Serviremos salgadinhos de festa diversos, assados e fritos, incluindo coxinha, quibe, esfirra, empadinha e outros. Teremos opção vegetariana.</p>
    <p>Bebida: Refrigerantes diversos e cerveja.</p>
  </section>
  <hr />
  <section class="event">
    <h1>Evento</h1>
    <p>Estamos planejando algumas brincadeiras - serão todas surpesas 😉</p>
  </section>
  <hr />
  <section class="wedding">
    <h1>E o casório?</h1>
    <p>Save the date: 09/12/2023</p>
    <p>Em breve mais detalhes...</p>
    <div class="picture-with-caption">
      <img class="greyscale-picture" src="/pontal.jpg" alt="Foto misteriosa">
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
</body>
</html>
