<%- include('../partials/head') %>
<body class="details-page">
<%- include('../partials/header') %>

<main>
  <header class="page-title-header">
    <h1>Casamento</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Detalhes</h2>
  </header>
  <hr />
  <section class="location">
    <h1>Local</h1>
    <div class="picture-with-caption">
      <img src="/pontal.jpg" alt="Foto da AABB">
      <p>Pontal do Urutau</p>
    </div>
    <div class="sub-section">
      <p>Local: <strong>Pontal do Urutau</strong></p>
      <br />
      <p>Endereço:</p>
      <p>BR-060, proximo à ponte do Rio Claro</p>
      <p>Jataí - GO</p>
      <br />
      <p>Maps:</p>
      <div class="square-container">
        <iframe
          width="600"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr-wwOJ1tYpMRf9A3m41fygY&key=<%= mapsKey %>"
        ></iframe>
      </div>
    </div>
  </section>
  <hr />
  <section class="transport">
    <h1>Transporte</h1>
    <p>Duarte ta correndo atrás</p>
  </section>
  <hr />
  <section class="time">
    <h1>Data e Horário</h1>
    <p>Data: <strong>09 de Dezembro de 2023</strong>, sábado</p>
    <p>Horário: <strong>16:00</strong></p>
    <p>Por favor, seja pontual :)</p>
  </section>
  <hr />
  <section class="dress-code">
    <h1>Dress Code</h1>
    <p>O evento será social: aposte em roupas sociais ou esporte-fino.</p>
  </section>
</main>

<%- include('../partials/footer') %>
</body>
</html>
