<%- include('../partials/head') %>
<body class="gift-list-page">
<%- include('../partials/header') %>
<script src="gifts.js" defer></script>

<main>
  <header class="page-title-header">
    <h1>Chá de Panela</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Lista de Presentes</h2>
  </header>
  <section class="gifts">
    <ol id="gift-list-container">
    </ol>
  </section>
</main>

<%- include('../partials/footer') %>
</body>
</html>