<%- include('../partials/head') %>
<body class="home-page">
<%- include('../partials/header') %>
<script src="/fetch-name.js"></script>

<main>
  <header class="page-title-header">
    <div class="hero-container">
      <div class="hero-text-container">
        <h2 class="subtitle">Chá de Panela</h2>
        <div class="decoration">
          <img src="/decoration.png" alt="">
        </div>
        <h1 class="hero-main-title logo">
          Miriam & Matheus
        </h1>
      </div>
      <img src="/foto-nossa-romantica.jpg" class="hero-splash"/>
    </div>
  </header>
  <section id="home-main-section" class="hidden">
    <h1>Olá, <span id="guest-name">amigo(a)</span>!</h1>
    <p class="hidden" id="special-message"></p>
    <p>É com muita alegria que convidamos você a participar conosco deste momento tão importante e descontraído.</p>
    <p>Podemos contar com sua presença? :)</p>

    <ul>
      <li><button type="button" class="default-button"><a href="/">Presença</a></button></li>
      <li><button type="button" class="default-button"><a href="/detalhes">Detalhes</a></button></li>
      <li><button type="button" class="default-button"><a href="/presentes">Presentes</a></button></li>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>
</body>
</html>