
<main>
  <header class="page-title-header">
    <h1>Chá de Panela</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
  </header>
  <section class="gifts">
    <h1>Lista de Presentes</h1>
    <ol id="gift-list-container">
    </ol>
  </section>
</main>