<%- include('../partials/head') %>
<body class="login-page">
<%- include('../partials/header') %>

<main>
  <header class="page-title-header">
    <h1>Chá de Panela</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Entrar</h2>
  </header>
  <main>
    <form id="form">
      <label for="key">
        <p>Entre com sua Chave:</p>
        <input id="key" name="key" type="text" placeholder="animal-cor-###">
      </label>
      <button type="submit" class="default-button">Entrar</button>
    </form>
  </main>
  <script src="login.js" defer></script>
</main>

<%- include('../partials/footer') %>
</body>
</html>
