<%- include('../partials/head') %>
<body class="details-page">
<%- include('../partials/header') %>

<main>
  <header class="page-title-header">
    <h1>Chá de Panela</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Entrar</h2>
  </header>
  <main>
    Form de login
  </main>
</main>

<%- include('../partials/footer') %>
</body>
</html>
