<%- include('../partials/head') %>
<body class="details-page">
<%- include('../partials/header') %>

<main>
  <header class="page-title-header">
    <h1>Casamento</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Detalhes</h2>
  </header>
  <hr />
  <section class="thanks">
    <h1>Olá!</h1>
    <p>Se você está vendo esta página, alguma coisa está errada.</p>
    <p>Tente entrar no site em uma aba anônima e veja se consegue acessar normalmente.</p>
  </section>
</main>

<%- include('../partials/footer') %>
</body>
</html>
