<%- include('../partials/head') %>
<body class="details-page">
<%- include('../partials/header') %>

<main>
  <header class="page-title-header">
    <h1>Casamento</h1>
    <div class="decoration">
      <img src="/decoration.png" alt="">
    </div>
    <h2>Detalhes</h2>
  </header>
  <hr />
  <section class="thanks">
    <h1>Obrigado a todos e todas que compareceram ao Casamento!</h1>
    <p>O próximo evento é o <strong>casamento</strong>! Ele vai acontecer no dia 09/12/2023</p>
    <p>Fique de olho!</p>
    <hr />
    <p>O site está atualmente <strong>em manutenção</strong>, enquanto preparamos os detalhes para o casamento.</p>
    <p>Em breve você receberá o convite oficial do casório :D</p>
  </section>
</main>

<%- include('../partials/footer') %>
</body>
</html>
