<header class="main-header">
  <h1 class="logo"><a href="/">Míriam & Matheus</a></h1>
  <button id="navigation-menu-button" type="button" class="navigation-menu-button">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </button>
  <div class="navigation-menu-overlay"></div>
  <nav id="navigation-menu" class="navigation-menu">
    <div class="navigation-menu-wrapper">
      <div class="navigation-menu-panel">
        <ul>
          <li><a href="">Presença</a></li>
          <li><a href="/detalhes">Detalhes</a></li>
          <li><a href="/presentes">Presentes</a></li>
          <li><a href="/logout" id="logout">Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="navigation-menu-overlay"></div>
