* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body
{
  min-height: 100vh;
  min-width: 100vw;
}

h1, h2, h3,
h4, h5, h6
{
  font-weight: 400;
}

body
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
}

.navigation-menu
{
  position: relative;
}

.navigation-menu ul
{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation-menu-overlay
{
  display: none;
}

@media screen and (max-width: 880px)
{
  .navigation-menu
  {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
  }

  .navigation-menu-overlay.shown
  {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navigation-menu-wrapper
  {
    position: relative;
  }

  .navigation-menu-panel
  {
    background-color: #fff;
    padding: 2.5rem 2.5rem 1.5rem 1.5rem;
    border-radius: 2px;
    transform: translateX(100%);
    transition: transform 150ms ease-in;
  }

  .navigation-menu.open .navigation-menu-panel
  {
    transform: translateX(0);
  }

  .navigation-menu ul
  {
    font-size: 1.25rem;
    flex-direction: column;
  }

  .navigation-menu-button
  {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 150ms linear;
  }

  .navigation-menu-button:hover
  {
    background-color: #9faae0;
  }

  .navigation-menu-button .bar
  {
    width: 20px;
    height: 4px;
    background-color: #131513;
    transition: transform 150ms linear;
  }

  .navigation-menu.open .navigation-menu-button .bar:nth-child(1)
  {
    transform: translate(0%, 150%) rotateZ(45deg);
  }
  
  .navigation-menu.open .navigation-menu-button .bar:nth-child(3)
  {
    transform: translate(0%, -150%) rotateZ(-45deg);
  }

  .navigation-menu.open .navigation-menu-button .bar:nth-child(2)
  {
    transform: scaleX(0);
  }
}

.main-header .logo
{
  font-size: 2rem;
}

a
{
  transition: color 100ms linear;
  font-family: inherit;
}

a:visited
{
  color: inherit;
}

a:hover
{
  color: #9faae0;
}

main
{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0.875rem;
}

main header h1
{
  text-align: center;
}

.logo
{
  font-family: 'Tangerine', cursive;
  font-weight: 700;
}

.logo a
{
  text-decoration: none;
}

.gifts
{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.gifts > h1
{
  font-size: 1.5rem;
}

.gifts ol
{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

@media screen and (max-width: 1350px) {
  .gifts ol
  {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 880px) {
  .gifts ol
  {
    grid-template-columns: 1fr;
  }
}

.gift-item
{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gift-item .picture
{
  height: 280px;
  width: 360px;
  color: #aaa;
  border: 2px solid #ddd;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 880px)
{
  .gift-item .picture
  {
    width: 100%;
  }  
}

.gift-item .picture img
{
  max-height: 100%;
  max-width: 100%;
}

.gift-item .description
{
  font-size: 1rem;
  font-weight: 500;
}

.gift-item .amount
{
  font-size: 1rem;
  font-weight: 300;
}

.gift-item .controls button.choose
{
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2px;
  padding: 0.625rem 1rem;
  background-color: #eee;
  transition: background-color 150ms linear;
}

.gift-item .controls button.choose:hover
{
  background-color: #d0caf0;
}


.gift-item .controls button.already-chosen {
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 2px;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  font-weight: 300;
}
